<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nucaction">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_task_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.example.nucaction.activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 0. Base Activity -->
        <activity android:name="com.example.nucaction.activities.BaseActivity" /> <!-- 1. Splash Activity -->

        <activity
            android:name="com.example.nucaction.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 2. Intro Activity -->
        <activity
            android:name="com.example.nucaction.activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 3. Sign Up Activity -->
        <activity
            android:name="com.example.nucaction.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 3.2 Sign Up Step 2 Activity -->
        <activity
            android:name="com.example.nucaction.activities.SignUpStep2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 3. Sign In Activity -->
        <activity
            android:name="com.example.nucaction.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.nucaction.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providerfile" />
        </provider> <!-- 4. Main Activity -->
        <activity
            android:name="com.example.nucaction.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.nucaction.activities.BarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>